*.pyc
*.mo
/build/
/dist/
/static/
/kirppu.egg-info/
kirppu/local_settings.py
kirppu/tests/api_access.pyi
kirppu_project/local_settings.py
node_modules*
/KirppuVenv*
/venv*
/.venv*
kirppu/static/kirppu/*
kirppu/static_src/js/api_stub.js
*.sqlite3
.vscode/
.cache
htmlcov
.coverage
/.idea/
/.pytest_cache/
/private/

/.env
/makevars

*.crt
*.key
