{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <style type="text/css">
        .field-access_key {
            font-size: 10px;
        }
    </style>
{{ block.super }}
    {% if has_add_permission %}
    {% url opts|admin_urlname:'bulk' as add_bulk_url %}
    <li class="display-for-clerk">
        <a href="{% add_preserved_filters add_bulk_url is_popup %}" class="addlink">
            {% blocktrans with cl.opts.verbose_name as name %}Add unbound {{ name }}{% endblocktrans %}
        </a>
    </li>
    {% endif %}
{% endblock %}
