table .numeric {
    text-align: right;
}

table .bool {
    text-align: center;
}

td address {
    margin-bottom: 0.2ex;
}

button.btn-minwidth {
    min-width: 6em;
}

code.yv8k02zi {
    color: #fff;
    background: #fff;
    width: 3em;
    display: inline-block;
    white-space: pre;
    overflow: hidden;
    user-select: none;
    line-height: normal;
    padding: 0;
}
code.yv8k02zi:before {
    color: #f00;
    content: "???";
}

#logout-menuitem { padding: 0; }
#logout-menuitem form { display: flex; }
#logout-menuitem form button {
    flex-grow: 1;
    padding: 3px 20px;
}

.logout-item form button {
    background: none;
    text-align: start;
    border: none;
    cursor: pointer;
}
