{% extends "kirppu/common.html" %}{% load i18n kirppu_login static %}

{% block title %}{% trans "Balance export" %} – {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="{% static "kirppu/js/checkout_comp.js" %}"></script>
{% endblock %}

{% block body %}
    <h3>Balance data</h3>
    <a href="{% url "kirppu:balance_export_csv" event_slug=event.slug %}" target="_blank"
    >Get the CSV</a>
    (<a class="small" href="{% url "kirppu:balance_export_csv" event_slug=event.slug %}?verbose=1" target="_blank"
    >verbose version</a>)
    <hr/>

    <h3>Compensation finalization</h3>
    <form method="post" class="form-horizontal" action="javascript:false">
        <div class="form-group">
            <label for="hash" class="col-sm-2 control-label">Content hash</label>
            <div class="col-sm-7">
                <input type="text" {% if not enabled %}disabled="disabled" {% endif %}name="hash" id="hash" class="form-control" placeholder="H..." />
                <div id="hash-errors" class="text-danger pre-nl"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="counter" class="col-sm-2 control-label">Counter code</label>
            <div class="col-sm-7">
                <input type="text" {% if not enabled %}disabled="disabled" {% endif %}name="counter" id="counter" class="form-control" placeholder=":*..." />
                <div id="counter-errors" class="text-danger pre-nl"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div id="form-errors" class="text-danger pre-nl">{% if not enabled %}{% translate "Your user account is missing clerk permission to perform this operation" %}{% endif %}</div>
                <button id="do_compensate" {% if not enabled %}disabled="disabled" {% endif %}type="button" class="btn btn-primary">Compensate</button>
            </div>
        </div>
    </form>
    <div class="progress">
        <div class="progress-bar" id="progress" role="progressbar"></div>
        <div class="progress-bar progress-bar-danger" id="progress-error-bar"></div>
    </div>
    <hr/>

    <h3>Bank data cleanup</h3>
    <p class="text-danger">
    This operation cannot be undone. Only proceed after balance processing has been completed and finalized.
    </p>
    <form class="form-horizontal" method="post" action="javascript:false">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="check_cleanup" type="button" class="btn btn-primary">Check</button>
                <span class="glyphicon text-success"> </span>
                <div id="check-errors" class="text-danger pre-nl"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="col-sm-2 control-label">Confirm</label>
            <div class="col-sm-7">
                <input type="text" name="confirm" id="confirm" disabled class="form-control"/>
                <span class="help-block small">To clear bank account information from vendors, type in the field: &quot;%s&quot;</span>
                <div id="confirm-errors" class="text-danger pre-nl"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div id="clear-result" class="text-danger pre-nl"></div>
                <button id="do_clear" disabled type="button" class="btn btn-danger">Clear vendors' bank account details
                </button>
            </div>
        </div>
    </form>

    <script>
    (function() {
        function getError(value) {
            if (value) {
                let o = "";
                for (let i in value) {
                    const v = value[i];
                    if (v.message) {
                        o += "\n- " + v.message;
                    }
                }
                return o.trim();
            } else {
                return "";
            }
        }

        const csrf = Cookies.get("csrftoken");
        const startBtn = $("#do_compensate");
        const progress = $("#progress");
        const progressError = $("#progress-error-bar");
        const progressTrack = progress.parent();
        const hashErrors = $("#hash-errors");
        const counterErrors = $("#counter-errors");
        const errors = $("#form-errors");

        async function doRequest(url, body) {
            try {
                return await window.fetch(url, {
                    body: body,
                    method: "POST",
                    headers: new Headers({
                        "Accept": "plain/text; application/json",
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrf,
                    })
                })
            } catch (e) {
                console.error(e)
                return new Response(
                    new Blob([e], { type: "text/plain" }),
                    { status: 500 },
                )
            }
        }

        function doProgress(processed, count) {
            const text = `${processed} / ${count}`
            progress.css("width", Math.round(processed / count * 100) + "%")
            progress.text(text)
            progressTrack.attr("title", text)
        }

        async function iterate(index) {
            const res = await doRequest("{% url "kirppu:balance_export_iter" event_slug=event.slug %}")
            if (res.ok) {
                const rs = await res.json()
                if (rs.index >= rs.length) {
                    return 0
                }
                return 1
            }
            console.error(res)
            const text = await res.text()
            errors.text(
                `- Error processing vendor at index ${index + 1}\n- ` +
                text.substring(0, 250)
            )

            return -1
        }

        async function end() {
            const res = await doRequest("{% url "kirppu:balance_export_end" event_slug=event.slug %}")
            if (!res.ok) {
                console.error(res)
            }
        }

        startBtn.on("click", async () => {
            startBtn.attr("disabled", "disabled")
            hashErrors.text("")
            counterErrors.text("")
            errors.text("")
            progress.removeClass("progress-bar-success")
            progressError.css("width", "0")

            const startRes = await doRequest("{% url "kirppu:balance_export_start" event_slug=event.slug %}",
                JSON.stringify({
                    "hash": $("#hash").val(),
                    "counter_code": $("#counter").val(),
                }),
            )

            if (!startRes.ok) {
                const errData = await startRes.json();
                hashErrors.text(getError(errData["hash"]))
                counterErrors.text(getError(errData["counter_code"]))
                errors.text(getError(errData["__all__"]))
                startBtn.removeAttr("disabled")
            } else {
                const startInfo = await startRes.json()
                const count = startInfo.length
                let processed = startInfo.index
                doProgress(processed, count)

                let result
                do {
                    result = await iterate(processed)
                    if (result >= 0) {
                        processed++
                        doProgress(processed, count)
                    } else if (result < 0) {
                        progressError.css("width", Math.round(100 / count) + "%")
                    }
                } while (result > 0);

                if (result === 0) {
                    await end()
                    progress.addClass("progress-bar-success")
                } else {
                    startBtn.removeAttr("disabled")
                }
            }
        })

        // 3rd phase

        const checkBtn = $("#check_cleanup")
        const checkErrors = $("#check-errors")
        const confirmInput = $("#confirm")
        const clearBtn = $("#do_clear")
        const clearResult = $("#clear-result")
        const expect = "Clear {{ event.slug }}"
        const confirmHelpSpan = confirmInput.siblings("span").first()
        confirmHelpSpan.text(confirmHelpSpan.text().replace("%s", expect))

        // Ensure we always start fresh.
        checkBtn.parents("form")[0].reset()
        confirmInput.attr("disabled", "disabled")

        checkBtn.on("click", async () => {
            checkErrors.text("")
            checkBtn.attr("disabled", "disabled")
            const res = await doRequest("{% url "kirppu:balance_check_cleanup" event_slug=event.slug %}")
            checkBtn.removeAttr("disabled")
            if (res.ok) {
                checkBtn.siblings(".glyphicon").addClass("glyphicon-check")
                const resText = await res.text()
                if (resText === "OK") {
                    confirmInput.removeAttr("disabled")
                } else {
                    checkErrors.text("Nothing to do")
                }
            } else {
                checkBtn.siblings(".glyphicon").removeClass("glyphicon-check")
                checkErrors.text(await res.text())
            }
        })

        function updateChangeState() {
            if (confirmInput.val() === expect) {
                clearBtn.removeAttr("disabled")
            } else if (clearBtn.attr("disabled") !== "disabled") {
                clearBtn.attr("disabled", "disabled")
            }
        }
        confirmInput.on("keyup", updateChangeState)
        confirmInput.on("change", updateChangeState)

        clearBtn.on("click", async () => {
            clearResult.text("")
            clearBtn.attr("disabled", "disabled")
            const res = await doRequest("{% url "kirppu:balance_details_cleanup" event_slug=event.slug %}")
            clearResult.text(await res.text())
            if (res.ok) {
                clearResult.removeClass("text-danger")
                clearResult.addClass("text-success")
            } else {
                clearResult.removeClass("text-success")
                clearResult.addClass("text-danger")
                clearBtn.removeAttr("disabled")
            }
        })
    })();
    </script>
{% endblock %}
