{% load i18n static kirppu_tags %}
<script src="{% static "kirppu/js/terms.js" %}"></script>
<form id="terms-form" method="post" class="form-horizontal hidden hidden-print" style="width: 19cm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Terms of use" %}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="terms-accepted"{% if terms_accepted %} disabled="disabled" checked="checked"{% endif %}/>
                        <span class="required">{% trans "I accept Kirppu terms of use:" %}</span>
                    </label>
                </div>
            </div>
            <p><em>
{% blocktrans %}All items in the market are at own risk of vendor. The event is not responsible for lost nor damaged items.{% endblocktrans %}
            </em></p><p id="terms-message"></p>

            {% if event.collect_bank_information %}
            {% load_text "bank_before" %}
            <div class="radio">
                <label>
                    <input type="radio" id="bank_with_account" class="bank_with_account" name="with_account" value="1"{% if bank_info.with_account.value %} checked{% endif %}>
                    {% translate "Bank account information" %}
                </label>
            </div>
            <div class="form-group">
                <label for="bank_iban" id="label_iban" class="col-sm-2 control-label{% if bank_info.with_account.value %} required{% endif %}">{% trans "IBAN" %}</label>
                <div class="col-sm-5">
                    <input id="bank_iban" type="text" class="form-control" maxlength="{{ bank_info.iban.field.max_length }}"
                           {% if not bank_info.with_account.value %}disabled {% endif %}value="{{ bank_info.iban.value|default_if_none:"" }}"
                           placeholder="AA00 0000 0000 0000 0000" />
                    <span class="help-block small">{{ bank_info.iban.help_text }}</span>
                    <div class="text-danger pre-nl" id="bank_iban-error"></div>
                </div>
                <label for="bank_bic" class="col-sm-1 control-label">{% trans "BIC" %}</label>
                <div class="col-sm-4">
                    <input id="bank_bic" type="text" class="form-control" maxlength="{{ bank_info.bic.field.max_length }}"
                           {% if not bank_info.with_account.value %}disabled {% endif %}value="{{ bank_info.bic.value|default_if_none:"" }}"
                           placeholder="AAAAAAAA" />
                    <span class="help-block small">{{ bank_info.bic.help_text }}</span>
                    <div class="text-danger pre-nl" id="bank_bic-error"></div>
                </div>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" id="bank_without_account" class="bank_with_account" name="with_account" value="0"{% if not bank_info.with_account.value %} checked{% endif %}>
                    {% translate "I am not able to receive wire transfers and ask for an exception to receive possible payment in cash" %}
                </label>
            </div>
            <div class="form-group">
                <label for="bank_reason" id="label_reason" class="col-sm-2 control-label{% if not bank_info.with_account.value %} required{% endif %}">
                    {% translate "Reason" %}</label>
                <div class="col-sm-10">
                    <input id="bank_reason" type="text" class="form-control" name="reason" maxlength="{{ bank_info.reason.field.max_length }}"
                           {% if bank_info.with_account.value %}disabled {% endif %}value="{{ bank_info.reason.value|default_if_none:"" }}">
                    <div class="text-danger pre-nl" id="bank_reason-error"></div>
                </div>
            </div>
            {% load_text "bank_after" %}
            {% endif %}
            <div class="text-danger pre-nl" id="__all__-error"></div>

            {% if not terms_accepted %}
            <button class="btn btn-default" type="button" id="terms-accept" disabled="disabled">{% trans "Accept" %}</button>
            {% elif event.collect_bank_information %}
            <button class="btn btn-default" type="button" id="terms-accept">{% trans "Update" %}</button>
            {% endif %}
            <p id="terms-template"{% if not terms_accepted %} class="hidden"{% endif %}>
                {% with terms_accepted|default:"%s" as terms_time %}
                    {% blocktrans %}Accepted at {{ terms_time }}.{% endblocktrans %}
                {% endwith %}
            </p>
        </div>
    </div>

    <script>
        termsApp("{% url "kirppu:accept_terms" event_slug=event.slug %}", {{ event.collect_bank_information|yesno:"true,false" }});
    </script>
</form>
{% if not terms_accepted %}
<style id="terms-style">
    *[data-require-terms=true] {
        display: none;
    }
</style>
{% endif %}
